body 
{
    background-color: antiquewhite;
}
.heading
{
    text-align: center;
    text-decoration: underline;
    font-size: 48px;
    color: tomato;
}
.para 
{
    width: 50%;
    text-align: justify;
    margin: auto;
    font-size: 20px;
}